ul.main-nav > li {display: inline-block;}
div.navnav {background: #000; color:#fff;}
div.test{padding-top: 3px;}
form.reg{padding: 10px;}
div.main-text{margin-top: 50px;}

footer{margin-top: 50px; background: #000; color:#fff;}